* {
    box-sizing: border-box;
}
body {
    padding-top: 44px;
    font-family: 'Roboto', sans-serif;
}
input[type=checkbox] {
    transform: scale(1.5);
  }
  
  input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 17px;
    visibility: hidden;
  }
  
  input[type=checkbox]:after {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 5px;
    color: #00BFF0;
    width: 22px;
    height: 25px;
    visibility: visible;
    border: 1px solid #00BFF0;
    padding-left: 3px;
    border-radius: 5px;
  }
  
  input[type=checkbox]:checked:after {
    content: "\2714";
    padding: -5px;
    font-weight: bold;
  }
.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.container { 
    max-width: 1200px;
    margin: auto;
}
.header { 
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}
.input-adress { 
    flex: 0.8;
    background-image: url("../img/home.svg");
}
.input-search {
    margin-left: auto;
    width: 306px;
    background-image: url("../img/search.svg");
}
.input-phone {
    width: 100%;
    margin-bottom: 15px;
}
.input-comment {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
}
.buttons {
    display: flex;
    align-items: center;
}
.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
.button-primary { 
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #FFF;
    margin-right: 10px;
}
.button-login {
    border: 1px solid #1890FF;
}

.animateaddtoCart {
    box-shadow: 0px 0px 14px rgba(3, 3, 126, 0.33);
}

.cart-counter {
    font-size:  13px;
    margin: 0 auto;
    text-align: center;

}
.is-visible {
    visibility: visible;
}

.button-img { 
    margin-right: 6px;
    vertical-align: middle;
}
.button-text {
    vertical-align: middle;
}
.button-cart {
    border: 1px solid #D9D9D9;
}


.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.dish-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url(../img/pizza-image.png) no-repeat bottom right / 550px ;
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 56px;
}
.promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;

}
.promo-text {
    max-width: 538px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}
.section-heading {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}
.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin: 0;
    margin-right: 30px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
    text-decoration: none;
}
.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}
.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin: 0;
}
.card-title-reg {
    font-weight: 400;
}
.card-buttons {
    display: flex;
    align-items: center;
}
.card-price-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    margin-left: 30px;
}

.card-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}
.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.button-card-text {
    margin-right: 10px;
}
.card-info .rating {
    font-size: 25px;
    margin-bottom: 2px;
    margin-right: 24px;
}
.card-info .price {
    font-size: 18px;
    margin-right: 20px;
}
.card-info .category {
    font-size: 18px;
}
.card-info .price:after {
    display: none;
}
.modalOffer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}


.rating {
    color: #FFC107;
    margin-right: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}
.price, 
.category {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}
.ingredients {
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}
.price {
    margin-right: 10px;
}
.price:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}
.footer {
    padding: 60px 0;
}
.footer-nav {
    margin-right: auto;
    margin-left: 35px;
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-link {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
    text-decoration: none;
}
.footer-link:not(:last-child) {
    margin-right: 15px;
}
.social-links {
    display: flex;
    align-items: center;
}
.social-link:not(:last-child) {
    margin-right: 21px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
   
}
.is-open {
    display:flex;
}
.modal-dialog {
    max-width: 780px;
    width: 95%;
    scroll-behavior: smooth;
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
    
}
.cart-list {
    padding: 20px;
    height: 350px;
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.modal-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.close {
    font-size: 36px;
    border: none;
    background-color: transparent;
}
.food-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 15px;
}
.food-price {
    margin-left: auto;
    margin-right: 47px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}
.food-name {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
.food-counter {
    display: flex;
    align-items: center;

}
.counter {
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}
.modal-footer {
    margin-top: 30px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postOrder-footer {
    margin-top: 30px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total-price {
    width: 106px;
    height: 53px;
    background: #262626;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FAFAFA;
    padding: 15px 20px;
}
.ready {
    background: #1890FF;
    border-radius: 2px;
    border: transparent;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: auto;
    margin-right: 50px;
    width: 150px;
    height: 41px;
}
.ready-last {
    border-radius: 5px;
    height: 53px;
    margin-right: 0;

}
.modalChoice {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.checkbox {
    flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
}
span.bigcheck-target {
    font-family: FontAwesome;
    
  }
  
  input[type='checkbox'].bigcheck {
    position: relative;
    left: -999em;
  }
  
  input[type='checkbox'].bigcheck + span.bigcheck-target:after {
    content: "\f096";
  }
  
  input[type='checkbox'].bigcheck:checked + span.bigcheck-target:after {
    content: "\f046";
  }
  
  .bigcheck {
    color: #0135a9;
    font-family: sans-serif;
    font-weight: 5;
    font-size: 18px;
    
  }
  
  span.bigcheck {
    display: block;
  }
.cancel {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
}
.counter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #40A9FF;
}

@media (max-width: 1366px) {
    .container {
        max-width: 960px;
    }
    .promo {
        background-size: 450px;
    }
    .rating {
        margin-right: 15px;
    }
    .category, 
    .price {
        font-size: 14px;
    }
    .card-image {
        padding-right: 65px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .promo {
        padding: 30px 50px;
        background-size:400px;
    }
    .promo-title {
        max-width: 310px;
    }
    .promo-text {
        font-size: 18px;
        max-width: 320px;
    }
    .card {
        flex-basis: 49%;
    }
    .footer-link {
        font-size: 16px;
    }
    .card-image {
        padding-right: 0px;
    }
}
@media (max-width: 805px) {
    .modalChoice {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .card-info {
        flex-wrap: wrap;
    }
    .card .rating {
        flex-basis: 100%;
    }
    .card-title {
        font-size: 18px;
    }
    .input-adress {
        max-width: 209px;
    }
    .promo {
        padding: 20px 40px;
        background-size:300px;
        background: #FFF1B8 url(../img/pizza-small-image.png) no-repeat bottom right -60px/ 300px ;
    }
    .promo-title {
        max-width: 310px;
        font-size: 24px;
        line-height: 1.4;
    }
    .promo-text {
        margin-top: 0;
        font-size: 18px;
        max-width: 300px;
    }
}
@media (max-width: 578px) {
    .container {
        width: 90%;
    }
    .header {
        flex-wrap: wrap;
    }
    .input-adress {
        
        order: 5;
        margin-top: 15px;
        max-width: 600px;
        flex-basis: 100%;
    }
    .promo {
        background-image: none;
        padding: 15px 25px;
    }
    .promo-text {
        font-size: 16px;
    }
    .promo-title {
        font-size: 28px;
        margin-bottom: 8;
    }
    .section-title {
        font-size: 22px;
    }
    .input-search {
        font-size: 15px;
        flex: 0.8;
    }
    .card {
        flex-basis: 100%;
    }
    .card-image {
        width: 100%;
    }
    .footer {
        padding: 30px 0;
    }
    .footer-logo {
        margin-right: 15px;
        order: 1;
    }
    .social-links {
        order: 2;
    }
    .footer-nav {
        margin-left: 0;
        margin-right: 0;
        flex-wrap: wrap;
        order:0;
        display: flex;
        flex-direction: column;
    }
    .footer-block {
        align-items: flex-start;
    }

}
@media ( max-width: 555px) {
.modal-footer {
       
        flex-wrap: wrap;
    }
    .modal-footer .total-price {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
    .ready {
        margin-right: 10px;
        margin-left: 0;
        font-size: 14px;
    }
    
    
    
}
@media ( max-width: 480px) {
    .footer-block {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo {
        order: 0;
        margin-bottom: 20px;
    }
    .footer-nav {
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-link:not(:last-child) {
        margin-right: 0;
    }
    .input-search {
        font-size: 12px;
        flex: 0.9;
    }
    .button-text {
        display: none;
    }
    .button {
        min-height: 46px;
    }
    .ready {
        font-size: 12px;
    }
    .counter-cart {
        margin-right: 65px;
    }
    
    

}
@media ( max-width: 480px) {
    .food-name {
        flex-basis: 100%;
    }
    .food-row {
        flex-wrap: wrap;
    }
    .food-price {
        margin-left: 0;
        margin-top: 10px;
    }
    .food-counter {
        margin-top: 10px;
    }
}